<section
    class="flex flex-wrap items-center justify-center 2xl:justify-between gap-5"
>
    <div>
        <div
            class="lg:max-w-[400px] xl:max-w-[600px] text-center 2xl:text-start mb-10"
        >
            <h1 class="text-5xl font-bold mb-10">
                Recurso para aprender y practicar <span class="text-yellow-400"
                    >programación</span
                >
            </h1>
            <p>
                Te comparto los recursos que me ayudaron y que he estado
                utilizando para mejorar mi dominio con distintas <span class="text-yellow-400">tecnologías</span>
                relacionadas.
            </p>
        </div>
        <div class="flex justify-center 2xl:justify-start gap-2">
            <a
                href="/recursos"
                class="border-2 border-yellow-400 hover:bg-yellow-400 hover:text-black rounded p-2"
                >Comenzar</a
            >
            <a
                href="https://discord.com"
                target="_blank"
                class="border-2 border-yellow-400 hover:bg-yellow-400 hover:text-black rounded p-2"
                >Servidor de Discord</a
            >
        </div>
    </div>
    <div>
        <img
            src="https://i.imgur.com/og1rg8a.jpg"
            alt="codeimg"
            width="800"
            class="rounded border-4 border-yellow-400"
        />
    </div>
</section>
