---
import ResourceLayout from "@/layouts/ResourceLayout.astro";
import Inicio from "@/sections/Resources/Inicio.astro";
---

<ResourceLayout title="DevPathway / Recursos">
    <main class="pt-12 min-h-screen">
        <Inicio/>
    </main>
</ResourceLayout>
