<footer
    class="flex flex-wrap gap-10 items-center justify-center xl:justify-around border-t border-yellow-400 py-10"
>
    <div class="flex flex-col gap-5 text-center">
        <h3 class="text-2xl font-bold">
            Servidor de <span class="text-yellow-400">Discord</span>
        </h3>
        <a
            href="https://discord.com/"
            target="_blank"
            class="border border-yellow-400 hover:bg-yellow-400 hover:text-black p-2 rounded"
            >¡Únete aquí!</a
        >
    </div>
    <div class="flex gap-8">
        <nav class="flex flex-col">
            <a href="/" class="hover:text-yellow-400 pl-2 py-1">Inicio</a>
            <a href="/" class="hover:text-yellow-400 pl-2 py-1">Recursos</a>
            <a href="/" class="hover:text-yellow-400 pl-2 py-1">Otros</a>
        </nav>
        <nav class="flex flex-col">
            <a href="/" class="hover:text-yellow-400 pl-2 py-1"
                >Canales de Youtube</a
            >
            <a href="/" class="hover:text-yellow-400 pl-2 py-1"
                >Practicar programación</a
            >
        </nav>
    </div>
</footer>
