---
import Inicio from "@/sections/Home/Inicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="max-w-[100rem] my-0 mx-auto pt-12">
		<Inicio />
	</main>
</Layout>
